.main-container {
    display: flex;
    flex-direction: column;
    margin: 40px 40px 40px 40px;
    background: #ffffff;
    width: auto;
    height: 90vh;
    border-radius: 20px;
    border: 2px solid #C5C5C5;
    box-shadow: 0 2px 8px #C5C5C5, /* Small shadow */
    0 4px 16px #C5C5C5; /* Larger shadow for depth */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        margin: 20px; /* Smaller margin on mobile */
        width: 95vw; /* Increase width on mobile for more space */
        max-width: 100%; /* Allow full-width on very small devices */
        height: auto; /* Let the height adjust naturally */
        max-height: 90vh; /* Increase max height for mobile devices */
        border-radius: 20px; /* Slightly reduce border-radius for smaller screens */
    }
}

@media (max-width: 480px) {
    .container {
        margin: 10px; /* Further reduce margin on very small devices */
        width: 100vw; /* Full width for small screens */
        max-width: 100%;
        height: auto;
        max-height: 95vh; /* Further increase max height for smaller screens */
        border-radius: 15px; /* Smaller border-radius for better fit on tiny screens */
    }
}